# python 3.9
# asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
audioread==3.0.1
# backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
braceexpand==0.1.7
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
# comm @ file:///croot/comm_1709322850197/work
# debugpy @ file:///croot/debugpy_1690905042057/work
# decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
docker-pycreds==0.4.0
einops==0.8.0
# encodec
# exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
# executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
# fadtk
filelock==3.15.4
fsspec==2024.6.1
ftfy==6.2.0
gitdb==4.0.11
GitPython==3.1.43
# h5py==3.11.0
huggingface-hub==0.24.3
hypy-utils==1.0.22
idna==3.7
# importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
# ipykernel @ file:///croot/ipykernel_1705933831282/work
# ipython @ file:///croot/ipython_1694181358621/work
# jedi @ file:///croot/jedi_1721058342488/work
Jinja2==3.1.4
joblib==1.4.2
# jupyter_client @ file:///croot/jupyter_client_1699455897726/work
# jupyter_core @ file:///croot/jupyter_core_1718818295206/work
laion_clap==1.1.6
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.41.1
MarkupSafe==2.1.5
# matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mpmath==1.3.0
msclap==1.3.3
msgpack==1.0.8
# nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
networkx==3.2.1
nnAudio==0.3.3
# numba==0.58.1
# numpy==1.23.5
# packaging @ file:///croot/packaging_1720101850331/work
pandas==2.2.2
# parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
# pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
# pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==10.4.0
# platformdirs @ file:///croot/platformdirs_1692205439124/work
pooch==1.8.2
progressbar==2.5
# prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==5.27.2
# psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
# ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
# pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycparser==2.22
# Pygments @ file:///croot/pygments_1684279966437/work
# python-dateutil @ file:///croot/python-dateutil_1716495738603/work
pytz==2024.1
PyYAML==6.0.1
# pyzmq @ file:///croot/pyzmq_1705605076900/work
regex==2024.7.24
requests==2.32.3
resampy==0.4.3
safetensors==0.4.3
scikit-learn==1.5.1
scipy==1.11.3
sentry-sdk==2.11.0
setproctitle==1.3.3
# six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
soundfile==0.12.1
soxr==0.4.0
# stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
sympy==1.13.1
threadpoolctl==3.5.0
tokenizers==0.19.1
torch #==2.1.2
torchaudio #==2.1.2
torchlibrosa #==0.1.0
torchvision #==0.16.2
# tornado @ file:///croot/tornado_1718740109488/work
tqdm==4.66.4
# traitlets @ file:///croot/traitlets_1718227057033/work
transformers==4.43.3
triton #==2.1.0
# typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata #==2024.1
urllib3 #==2.2.2
wandb #==0.17.5
wcwidth #==0.2.13
webdataset #==0.2.86
wget #==3.2
# zipp @ file:///croot/zipp_1704206909481/work
